.poster {
    position: relative;
    border-radius: 0.5rem;
    overflow-y: clip;
}

.image {
    position: relative;
    /*width: 100%;*/
    /*height: 100%;*/
    object-fit: cover;
    overflow: hidden;
    border-radius: 0.5rem;
}

.poster::before {
    content: "";
    position: absolute;
    /*bottom: -120px;*/
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, var(--background-start-gradient) 40%, transparent);
    z-index: 2;
    border-radius: 0.5rem;
    transform: translateY(7rem);
    overflow: hidden;

}

.content {
    color: var(--light-white-color);
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
    z-index: 3;
}
