.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.container {
    color: var(--light-white-color);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.container h3 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
    z-index: 1;
}


.profile-image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    max-width: 4rem;
    object-fit: cover;
    border: 2px solid var(--light-white-color);
}

@media (max-width: 900px) {
    .row {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .row::-webkit-scrollbar {
        display: none;
    }
}
